body{
    background-color: rgb(213, 195, 195);
}

.inputSection {
    width: fit-content;
    height: fit-content;
    border: solid 1px red;
}

.bigBox {
    border: solid 2px red;
    width: fit-content;
    height: fit-content;
}

div {
    margin: 2px;
    background-color: white;
}

.buttonFormatting {
    background-color: rgb(213, 195, 195);
    height: 46px;
    width: auto;
    margin-top: 2px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background: lightblue;
    text-align: center;
    font-weight: bold;
}